@takamol:registry=https://gitlab.qiwa.tech/api/v4/packages/npm/
//gitlab.qiwa.tech/api/v4/packages/npm/:_authToken=VzBrGJ6ycsSLkjzym3Dt
//gitlab.qiwa.tech/api/v4/projects/:_authToken=VzBrGJ6ycsSLkjzym3Dt
engine-strict = true
save-exact = true