table {
  width: 100%;
  border-collapse: collapse;
  color: #8b97a7;
  table-layout: fixed;
  table-layout: auto;
}
th {
  padding-top: 30px;
  padding-bottom: 20px;
  border-right: 1px solid #e7e6e6;
  text-align: center;
  padding: 10px;
  font-weight: 400;
  color: #4e555e;
  vertical-align: top;
  vertical-align: middle;
}
.th-wrap {
  height: 100%;
  display: flex;
}

tbody tr:nth-child(odd),
tfoot tr:nth-child(odd) {
  background-color: #f3f6f9;
}
tbody tr,
tfoot tr {
  background: #fff;
}
tbody td:first-child,
tfoot td:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
td,
th {
  border-right: 1px solid #e7e6e6;
  text-align: center;
  padding: 10px;
  vertical-align: middle;
}
th:last-child {
  width: 16%;
}
.tablediv {
  overflow-x: unset;
  padding: 5px;
}

thead > tr {
  position: relative;
  z-index: 0;
}
